<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="./tsante-mqtt-subscriber.html">
<link rel="import" href="./tsante-mqtt-publisher.html">
<link rel="import" href="./mqttws31.html">

<!--
`tsante-mqtt`
A MQTT component

example :

```
<tsante-mqtt host="ws://test.mosquitto.org:8080/" >
  <tsante-mqtt-subscriber topic="terminal/hello"></tsante-mqtt-subscriber>
  <tsante-mqtt-publisher topic="terminal/hello" payload="polymer" ></tsante-mqtt-subscriber>
</tsante-mqtt>
```

BREAKING CHANGE :

`tsante-mqtt-received` events are now fired by `tsante-mqtt-subscriber` elements.

however as the events bubble it's always possible to get the events from the `tsante-mqtt` ancestor.
In this case some events can appear to be emitted several time, but look at the evt.target it must be different.

@demo demo/index.html
-->

<dom-module id="tsante-mqtt">
  <script src="tsante-mqtt.js"></script>
</dom-module>
